/*paginationのレイアウトを整えるためにbootstrapをimport*/
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

/*Header.js*/
.header{
    text-align: center;
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 10;
}
.header .site_title{
    padding: 20px 16px;
    line-height: 1px;
}


/*Home*/
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 150px 16px;
    background-color: #fafafa;
}
.container a{
    text-decoration: none;
    color: #121212;
}
.container input{
    margin-left: 270px;
    margin-bottom: 50px;
}
.articles {
    list-style: none;
    margin: 0 auto;
    width: 60%;
}
.article{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 30px;
}
.article a{
    font: bold;
}
.article a:hover{
    border-bottom:1px solid #121212;
}
.pagination{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.pagination li{
    margin-right: 5px;
}
.active{
    font-weight: bold;
}


/*blog/[id]*/
.details{
    padding: 150px;
}
.details h1{
    margin-bottom: 50px;
}
